.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.content-item:not(:last-child) {
  margin-right: 30px;
}

.box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

.content-list {
  display: flex;
  justify-content: space-between;
}
.content-caption {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 270px;
}
