.header-line {
  border-bottom: 1px solid #ececec;
  left: 0px;
  top: 0px;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  left: 0px;
  top: 0px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.title__logo {
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  @include font(700, 26px, 1.1, 0.03em);
}
.title__logo-web {
  color: #2196f3;
}
.title__logo-studio {
  color: var(--brand-color);
}
.title {
  display: flex;
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.menu__item {
  margin-left: 50px;
}

.header .container {
  display: flex;
  align-items: center;
}
.menu__link {
  color: var(--brand-color);
  @include font(500, 14px, 1.1, 00.02em);
  text-decoration: none;
  padding: 32px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.menu .menu__link.current {
  color: #2196f3;
}

.current::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.connect__link-cnct {
  margin-left: auto;
}
.connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connect__item-connection:not(:last-child) {
  margin-right: 50px;
}

.connect__link-mail {
  display: flex;
  align-items: center;
  color: #757575;
  @include font(500, 14px, 1.1, 0.02em);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .connect__link-mail:hover &,
  .connect__link-mail:focus & {
    fill: #2196f3;
  }
}

.connect__link-tel {
  display: flex;
  align-items: center;
  margin: 0;
  color: #757575;
  @include font(500, 14px, 1.1, 0.02em);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__icon {
  fill: #757575;
  margin-right: 10px;
  .connect__link-tel:hover &,
  .connect__link-tel:focus & {
    fill: #2196f3;
  }
}
